{% extends 'base.html' %}
{% block title %}Iniciar Sesión{% endblock %}

{% block contenido %}
<h2 class="centrado">🔐 Iniciar Sesión</h2>

{% if messages %}
    {% for message in messages %}
        <div class="error-message">{{ message }}</div>
    {% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
    
    <label for="username">Usuario:</label>
    <input type="text" name="username" id="username" required>

    <label for="password">Contraseña:</label>
    <input type="password" name="password" id="password" required>

    <div class="centrado">
        <button type="submit" class="btn">Entrar</button>
    </div>
</form>
{% endblock %}
